<html>
  <head>
    <title>Material App</title>
    <link rel="stylesheet" media="all" href="{{staticDirCss}}/css/base.css" />
  </head>
  <body>
    <h1>Hi I am the material page</h1>
    <div
      data-dpl-app="material"
      data-wid="work-of:870970-basis:02368293"
      data-sms-notifications-for-reservations-enabled-config="1"
      data-branches-config="[{&quot;branchId&quot;:&quot;DK-775120&quot;,&quot;title&quot;:&quot;H\u00f8jbjerg&quot;},{&quot;branchId&quot;:&quot;DK-775122&quot;,&quot;title&quot;:&quot;Beder-Malling&quot;},{&quot;branchId&quot;:&quot;DK-775144&quot;,&quot;title&quot;:&quot;Gellerup&quot;},{&quot;branchId&quot;:&quot;DK-775167&quot;,&quot;title&quot;:&quot;Lystrup&quot;},{&quot;branchId&quot;:&quot;DK-775146&quot;,&quot;title&quot;:&quot;Harlev&quot;},{&quot;branchId&quot;:&quot;DK-775168&quot;,&quot;title&quot;:&quot;Sk\u00f8dstrup&quot;},{&quot;branchId&quot;:&quot;FBS-751010&quot;,&quot;title&quot;:&quot;Arresten&quot;},{&quot;branchId&quot;:&quot;DK-775147&quot;,&quot;title&quot;:&quot;Hasle&quot;},{&quot;branchId&quot;:&quot;FBS-751032&quot;,&quot;title&quot;:&quot;Test Nunatta Atuagaateqarfia\/Det gr\u00f8nlandske Landsbibliotek&quot;},{&quot;branchId&quot;:&quot;FBS-751031&quot;,&quot;title&quot;:&quot;Fjernlager 1&quot;},{&quot;branchId&quot;:&quot;DK-775126&quot;,&quot;title&quot;:&quot;Solbjerg&quot;},{&quot;branchId&quot;:&quot;FBS-751030&quot;,&quot;title&quot;:&quot;ITK&quot;},{&quot;branchId&quot;:&quot;DK-775149&quot;,&quot;title&quot;:&quot;Sabro&quot;},{&quot;branchId&quot;:&quot;DK-775127&quot;,&quot;title&quot;:&quot;Tranbjerg&quot;},{&quot;branchId&quot;:&quot;DK-775160&quot;,&quot;title&quot;:&quot;Risskov&quot;},{&quot;branchId&quot;:&quot;DK-775162&quot;,&quot;title&quot;:&quot;Hjortsh\u00f8j&quot;},{&quot;branchId&quot;:&quot;DK-775140&quot;,&quot;title&quot;:&quot;\u00c5by&quot;},{&quot;branchId&quot;:&quot;FBS-751009&quot;,&quot;title&quot;:&quot;Fjernlager 2&quot;},{&quot;branchId&quot;:&quot;FBS-751029&quot;,&quot;title&quot;:&quot;Stadsarkivet&quot;},{&quot;branchId&quot;:&quot;FBS-751027&quot;,&quot;title&quot;:&quot;Intern&quot;},{&quot;branchId&quot;:&quot;FBS-751026&quot;,&quot;title&quot;:&quot;F\u00e6lles undervejs&quot;},{&quot;branchId&quot;:&quot;FBS-751025&quot;,&quot;title&quot;:&quot;F\u00e6llessekretariatet&quot;},{&quot;branchId&quot;:&quot;DK-775133&quot;,&quot;title&quot;:&quot;Bavneh\u00f8j&quot;},{&quot;branchId&quot;:&quot;FBS-751024&quot;,&quot;title&quot;:&quot;Fjernl\u00e5nte materialer&quot;},{&quot;branchId&quot;:&quot;DK-775100&quot;,&quot;title&quot;:&quot;Hovedbiblioteket&quot;},{&quot;branchId&quot;:&quot;DK-775170&quot;,&quot;title&quot;:&quot;Trige&quot;},{&quot;branchId&quot;:&quot;DK-775150&quot;,&quot;title&quot;:&quot;Tilst&quot;},{&quot;branchId&quot;:&quot;DK-775130&quot;,&quot;title&quot;:&quot;Viby&quot;},{&quot;branchId&quot;:&quot;DK-775164&quot;,&quot;title&quot;:&quot;Eg\u00e5&quot;}]"
      data-blacklisted-availability-branches-config=""
      data-blacklisted-pickup-branches-config=""
      data-auth-url="/login"
      data-material-url="/work/:workid"
      data-search-url="/search"
      data-dpl-cms-base-url="https://varnish.pr-227.dpl-cms.dplplat01.dpl.reload.dk"
      data-already-reserved-text="Already reserved"
      data-approve-reservation-text="Approve reservation"
      data-audience-text="Audience"
      data-available-text="Available"
      data-cannot-see-review-text="The review is not accessible"
      data-cant-reserve-text="Can't be reserved"
      data-cant-view-review-text="Cannot view review"
      data-choose-one-text="Choose one"
      data-close-text="Close"
      data-contributors-text="Contributors"
      data-copies-there-is-text="copies there is"
      data-creators-are-missing-text="Creators are missing"
      data-days-text="Days"
      data-description-headline-text="Description"
      data-details-of-the-material-text="Details of the material"
      data-details-text="Details"
      data-edition-text="Edition"
      data-editions-text="Editions"
      data-et-al-text="et al."
      data-fiction-nonfiction-text="Fiction/nonfiction"
      data-find-on-bookshelf-text="Find on bookshelf"
      data-find-on-shelf-expand-button-explanation-text="Find on shelf expand button explanation"
      data-find-on-shelf-modal-close-modal-aria-label-text="Close reservation modal"
      data-find-on-shelf-modal-list-find-on-shelf-text="Find it on shelf"
      data-find-on-shelf-modal-list-item-count-text="Home"
      data-find-on-shelf-modal-list-material-text="Material"
      data-find-on-shelf-modal-no-location-specified-text="No location for find on shelf specified"
      data-find-on-shelf-modal-periodical-edition-dropdown-text="Find on shelf modal periodical dropdown - choose edition/volume"
      data-find-on-shelf-modal-periodical-year-dropdown-text="Choose periodical year"
      data-find-on-shelf-modal-screen-reader-modal-description-text="Reservation modal screen reader description"
      data-genre-and-form-text="Genre"
      data-get-online-text="Get online"
      data-go-to-text="Go to @source"
      data-have-no-interest-after-text="Have no interest after"
      data-hearts-icon-text="hearts"
      data-identifier-text="Identifiers"
      data-in-same-series-text="In the same series"
      data-in-series-text="in the series"
      data-infomedia-modal-close-modal-aria-label-text="Close infomedia modal"
      data-infomedia-modal-screen-reader-modal-description-text="Infomedia modal screen reader description"
      data-isbn-text="ISBN"
      data-language-text="Language"
      data-libraries-have-the-material-text="Libraries have the material"
      data-listen-online-text="Listen online"
      data-loading-text="Loading"
      data-login-to-see-review-text="Log in to read the review"
      data-material-header-all-editions-text="All editions"
      data-material-header-author-by-text="By"
      data-material-is-available-in-another-edition-text="{&quot;type&quot;:&quot;plural&quot;,&quot;text&quot;:[&quot;Skip the queue - The material is available in another edition - @title @authorAndYear - reservations: @reservation&quot;,&quot;Skip the queue - The material is available in another edition - @title @authorAndYear - reservations: @reservations&quot;]}"
      data-material-is-included-text="Material is included"
      data-material-is-loaned-out-text="Material is loaned out"
      data-material-reservation-info-text="{&quot;type&quot;:&quot;plural&quot;,&quot;text&quot;:[&quot;1 copy has been reserved&quot;,&quot;@count copies have been reserved&quot;]}"
      data-materials-in-stock-info-text="{&quot;type&quot;:&quot;plural&quot;,&quot;text&quot;:[&quot;We have 1 copy of the material in stock&quot;,&quot;We have @count copies of the material in stock&quot;]}"
      data-missing-data-text="Missing data"
      data-modal-reservation-form-email-header-description-text="If you want to receive notifications by e-mail, you can enter or change the desired e-mail here."
      data-modal-reservation-form-email-header-title-text="Change email"
      data-modal-reservation-form-email-input-field-description-text="Type in email"
      data-modal-reservation-form-email-input-field-label-text="Email"
      data-modal-reservation-form-no-interest-after-header-description-text="Set date for when your interest for the material will expire."
      data-modal-reservation-form-no-interest-after-header-title-text="Change interest deadline"
      data-modal-reservation-form-pickup-header-description-text="Decide at which library you want to pickup the material."
      data-modal-reservation-form-pickup-header-title-text="Choose pickup library"
      data-modal-reservation-form-sms-header-description-text="If you want to receive SMS, you can enter or change your phone number here."
      data-modal-reservation-form-sms-header-title-text="Change phone number"
      data-modal-reservation-form-sms-input-field-description-text="Input phone number"
      data-modal-reservation-form-sms-input-field-label-text="Phone"
      data-number-description-text="Nr."
      data-number-in-queue-text="You are number @number in the queue"
      data-ok-button-text="Ok"
      data-one-month-text="1 month"
      data-one-year-text="1 year"
      data-online-limit-month-info-text="You have borrowed @count out of @limit possible e-books this month"
      data-order-digital-copy-button-loading-text="Order digital copy button loading text"
      data-order-digital-copy-button-text="Order digital copy"
      data-order-digital-copy-description-text="Order digital copy description text"
      data-order-digital-copy-email-label-text="Email"
      data-order-digital-copy-error-button-text="Close"
      data-order-digital-copy-error-description-text="An error occurred while ordering the digital copy. Please try again later."
      data-order-digital-copy-error-title-text="Error ordering digital copy"
      data-order-digital-copy-modal-close-modal-aria-label-text="Close Order digital copy modal"
      data-order-digital-copy-modal-screen-reader-modal-description-text="Modal for Order digital copy"
      data-order-digital-copy-success-button-text="Close"
      data-order-digital-copy-success-description-text="The digital copy has been ordered. You will receive an email when the digital copy is ready."
      data-order-digital-copy-success-title-text="Digital copy ordered"
      data-order-digital-copy-title-text="Order digital copy"
      data-original-title-text="Original title"
      data-out-of-text="out of"
      data-periodical-select-edition-text="Edition"
      data-periodical-select-year-text="Year"
      data-periodikum-select-week-text="Week"
      data-periodikum-select-year-text="Year"
      data-pickup-location-text="Pick up at"
      data-possible-text="possible"
      data-publisher-text="Publisher"
      data-queue-text="in queue"
      data-rating-is-text="Rating of this item is"
      data-rating-text="out of"
      data-read-article-text="Read article"
      data-receive-email-when-material-ready-text="Receive mail when the material is ready"
      data-receive-sms-when-material-ready-text="Receive SMS when the material is ready"
      data-reservation-errors-description-text="Year"
      data-reservation-errors-title-text="Reservation error"
      data-reservation-modal-close-modal-aria-label-text="Close reservation modal"
      data-reservation-modal-screen-reader-modal-description-text="modal for reservation"
      data-reservation-succes-is-reserved-for-you-text="is reserved for you"
      data-reservation-succes-title-text="The material is available and is now reserved for you!"
      data-reservation-success-preferred-pickup-branch-text="Material is available and you will get a message when it is ready for pickup - pickup at @branch"
      data-reservations-for-this-material-text="reservations for this material"
      data-reserve-book-text="Reserve book"
      data-reserve-text="Reserve"
      data-reviews-text="Reviews"
      data-save-button-text="Save"
      data-scope-text="Scope"
      data-see-online-text="See online"
      data-shift-text="Shift"
      data-six-months-text="6 months"
      data-this-month-text="This month"
      data-three-months-text="3 months"
      data-try-agin-button-text="Try again"
      data-two-months-text="2 months"
      data-type-text="Type"
      data-unavailable-text="Unavailable"
      data-we-have-shopped-text="In stock:"
      data-you-have-borrowed-text="You have borrowed"
      data-cover-base-url="https://cover.dandigbib.org"
      data-fbi-base-url="https://fbi-api.dbc.dk/next/graphql"
      data-material-list-base-url="https://prod.materiallist.dandigbib.org"
      data-fbs-base-url="https://fbs-openplatform.dbc.dk"
      data-publizon-base-url="https://pubhub-openplatform.test.dbc.dk"
    ></div>

    <script>
      const getElement = function getElement(element) { if (typeof
      element.querySelectorAll !== "function") { element = element[0] ||
      element; } if (typeof element.querySelectorAll !== "function") { return
      null; } return element; };
    </script>
    <script src="{{staticDirJs}}/runtime.js"></script>
    <script src="{{staticDirJs}}/bundle.js"></script>
    <script src="{{staticDirJs}}/mount.js"></script>
    <script src="{{staticDirJs}}/material.js"></script>
    <script>
      window.onload = function mount() { window.dplReact.setToken("library",
      "PUT_TOKEN_HERE"); window.dplReact.mount(document); }
    </script>
  </body>
</html>